<ol class="breadcrumb breadcrumb-simple">
    <repeat group="{{@modules}}" value="{{@module}}">
        <li class="{{@module.active?'active':''}}">
            <check if="{{@module.hasUrl}}">
                <true>
                    <a href="{{@base}}/{{@module.url}}">{{@module.name}}</a>
                </true>
                <false>
                    {{@module.name}}
                </false>
            </check>
        </li>
    </repeat>
</ol>