<section class="card-block">
    <div class="table-responsive">
        <table id="table-edit" class="display table table-bordered table-hover">
            <thead>
            <tr>
                <th width="1">ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@users}}" value="{{@user}}">
                <tr>
                    <td class="table-icon-cell">{{@user.id}}</td>
                    <td>{{@user.username}}</td>
                    <td>{{@user.fullname}}</td>
                    <td>{{@user.email}}</td>
                    <td>{{@user.address}}</td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</section>

<script>
    $(function () {
        $('#table-edit').Tabledit({
            url: 'crudop/doupdate',
            columns: {
                identifier: [0, 'id'],
                editable: [[1, 'username'], [2, 'fullname'], [3, 'email'], [4, 'address']]
            },
            restoreButton: false,
            dangerClass: 'danger',
            warningClass: 'warning',
            onDraw: function() {
                console.log('onDraw()');
            },
            onSuccess: function(data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
                alert('Success changed the data');
            },
            onFail: function(jqXHR, textStatus, errorThrown) {
                console.log('onFail(jqXHR, textStatus, errorThrown)');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                alert('Update failed');
            },
            onAlways: function() {
                console.log('onAlways()');
            },
            onAjax: function(action, serialize) {
                console.log('onAjax(action, serialize)');
                console.log(action);
                console.log(serialize);
            }
        });

        $('#table-edit').DataTable();
    });
</script>