<div class="box-typical box-typical-padding">
    <h5 class="m-t-lg with-border">Input Data</h5>
    <check if="{{@SESSION.createopsuccess}}">
        <h4><span class="label label-success">{{@SESSION.createopsuccess}}</span></h4>
    </check>

    <form action="docreate" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Username</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input type="text" class="form-control {{@SESSION.createoperror['username']?'form-control-error':''}}" name="username" placeholder="Username"></p>
                <check if="{{@SESSION.createoperror['username']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.createoperror['username']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {{@SESSION.createoperror['password']?'form-control-error':''}}" name="password" placeholder="Password">
                <check if="{{@SESSION.createoperror['password']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.createoperror['password']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input type="email" class="form-control {{@SESSION.createoperror['email']?'form-control-error':''}}" name="email" placeholder="Email"></p>
                <check if="{{@SESSION.createoperror['email']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.createoperror['email']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Full Name</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input type="text" class="form-control {{@SESSION.createoperror['fullname']?'form-control-error':''}}" name="fullname" placeholder="Full Name"></p>
                <check if="{{@SESSION.createoperror['fullname']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.createoperror['fullname']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Address</label>
            <div class="col-sm-10">
                <p class="form-control-static"><textarea rows="4" class="form-control {{@SESSION.createoperror['address']?'form-control-error':''}}" placeholder="Address" name="address"></textarea></p>
                <check if="{{@createoperror['address']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.createoperror['address']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Submit" class="btn">
                <input type="reset" value="Reset" class="btn btn-info">
            </div>
        </div>
    </form>



</div><!--.box-typical-->