<header class="section-header">
    <div class="tbl">
        <div class="tbl-row">
            <div class="tbl-cell">
                <h3>{{@header_title}}</h3>
                <check if="{{@breadcrumb}}">
                    <include href="{{@breadcrumb}}"></include>
                </check>
            </div>
        </div>
    </div>
</header>