<link rel="stylesheet" href="{{@base}}/app/assets/css/lib/lobipanel/lobipanel.min.css">
<link rel="stylesheet" href="{{@base}}/app/assets/css/separate/vendor/lobipanel.min.css">
<link rel="stylesheet" href="{{@base}}/app/assets/css/lib/jqueryui/jquery-ui.min.css">
<link rel="stylesheet" href="{{@base}}/app/assets/css/separate/pages/widgets.min.css">

<script type="text/javascript" src="{{@base}}/app/assets/js/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{@base}}/app/assets/js/lib/lobipanel/lobipanel.min.js"></script>
<script type="text/javascript" src="{{@base}}/app/assets/js/lib/match-height/jquery.matchHeight.min.js"></script>

<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-sm-6">
                <article class="statistic-box red">
                    <div>
                        <div class="number">{{count(@task['process'])}}</div>
                        <div class="caption"><div>Open Tasks</div></div>
                    </div>
                </article>
            </div><!--.col-->
            <div class="col-sm-6">
                <article class="statistic-box purple">
                    <div>
                        <div class="number">{{count(@task['draft'])}}</div>
                        <div class="caption"><div>Draft Tasks</div></div>
                    </div>
                </article>
            </div><!--.col-->
            <div class="col-sm-6">
                <article class="statistic-box yellow">
                    <div>
                        <div class="number">{{count(@task['pending'])}}</div>
                        <div class="caption"><div>Pending Tasks</div></div>
                    </div>
                </article>
            </div><!--.col-->
            <div class="col-sm-6">
                <article class="statistic-box green">
                    <div>
                        <div class="number">{{count(@task['completed'])}}</div>
                        <div class="caption"><div>Completed Tasks</div></div>
                    </div>
                </article>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.col-->
</div>

<div class="row">
    <div class="col-xl-12 dahsboard-column">
        <section class="box-typical box-typical-dashboard panel panel-default scrollable">
            <header class="box-typical-header panel-heading">
                <h3 class="panel-title">Recent Tasks</h3>
            </header>
            <div class="box-typical-body panel-body">
                <table class="tbl-typical" id="recent">
                    <thead>
                        <th><div>Status</div></th>
                        <th><div>Company Name</div></th>
                        <th><div>Task Name</div></th>
                        <th align="center"><div>Date</div></th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div><!--.box-typical-body-->
        </section><!--.box-typical-dashboard-->
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.panel').lobiPanel({
            sortable: true
        });
        $('.panel').on('dragged.lobiPanel', function(ev, lobiPanel){
            $('.dahsboard-column').matchHeight();
        });

        $.ajax({
            url:"http://{{@server_name}}{{@base}}/api/task/recent",
            dataType:"json",
            type:"get",
            success: function(result){
                var html = "";
                var today = moment(new Date()).format('L');
                var yesterday = moment().subtract(1, 'days').startOf(today).format('L').toString();

                for(var i=0; i<result.length; i++){
                    var status = "";
                    var date = "";
                    var dateTime = result[i].date_created.replace(' ', 'T');
                    var taskdate=moment(dateTime).format('L');
                    var taskdatetime=moment(dateTime).format();
                    if(taskdate==today){
                        date = 'Today';
                    }
                    else if(taskdate<today){
                        date = 'Yesterday';
                    }
                    if(result[i].status==='process'){
                        status = '<span class="label label-danger">Process</span>';
                    }
                    else if(result[i].status==='completed'){
                        status = '<span class="label label-success">Completed</span>';
                    }
                    else if(result[i].status==='pending'){
                        status = '<span class="label label-warning">Pending</span>';
                    }
                    else{
                        status = '<span class="label">Draft</span>';
                    }
                    html +=
                        '<tr><td>'+status+'</td><td>'+result[i].company_name+'</td><td>'+result[i].name+'</td><td align="center"><span class="semibold">'+date+'</span>, '+moment(taskdatetime).format('hh:mm:ss a')+'</td></tr>'
                    ;
                }

                $('#recent tbody').html(html);
            }
        });
    });

    $(function(){
        $(document).on('click', '.red, .purple, .yellow, .green', function(e){
            location.href = 'task';
        });
    });
</script>