<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{@title}}{{@subtitle?" - ".@subtitle:""}}</title>

    <link href="{{@base}}/app/assets/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="{{@base}}/app/assets/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="{{@base}}/app/assets/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="{{@base}}/app/assets/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
    <link href="{{@base}}/app/assets/img/favicon.png" rel="icon" type="image/png">
    <link href="{{@base}}/app/assets/img/favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{@base}}/app/assets/css/lib/datatables-net/datatables.min.css">
    <link rel="stylesheet" href="{{@base}}/app/assets/css/separate/vendor/datatables-net.min.css">
    <link rel="stylesheet" href="{{@base}}/app/assets/css/lib/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="{{@base}}/app/assets/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="{{@base}}/app/assets/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{@base}}/app/assets/css/main.css">
</head>
<body class="with-side-menu control-panel control-panel-compact">

<script src="{{@base}}/app/assets/js/lib/jquery/jquery.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/tether/tether.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/bootstrap/bootstrap.min.js"></script>
<script src="{{@base}}/app/assets/js/plugins.js"></script>

<script src="{{@base}}/app/assets/js/lib/table-edit/jquery.tabledit.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/peity/jquery.peity.min.js"></script>

<script src="{{@base}}/app/assets/js/lib/datatables-net/datatables.min.js"></script>

<script src="{{@base}}/vendor/bower_components/moment/moment.js"></script>

<script src="{{@base}}/app/assets/js/app.js"></script>

<header class="site-header">
    <div class="container-fluid">

        <a href="#" class="site-logo">
            <img src="{{@base}}/app/assets/img/logo.png" alt="">
        </a>

        <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
            <span>toggle menu</span>
        </button>

        <button class="hamburger hamburger--htla">
            <span>toggle menu</span>
        </button>
        <div class="site-header-content">
            <div class="site-header-content-in">
                <div class="site-header-shown">

                    <div class="dropdown user-menu">
                        <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{@base}}/app/assets/img/avatar-2-64.png" alt="">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                            <a class="dropdown-item" href="{{@base}}/profile"><span class="font-icon glyphicon glyphicon-user"></span>Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{@base}}/logout"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
                        </div>
                    </div>
                </div><!--.site-header-shown-->

                <div class="mobile-menu-right-overlay"></div>
                <div class="site-header-collapsed">
                    <div class="site-header-collapsed-in">


                    </div><!--.site-header-collapsed-in-->
                </div><!--.site-header-collapsed-->
            </div><!--site-header-content-in-->
        </div><!--.site-header-content-->
    </div><!--.container-fluid-->
</header><!--.site-header-->

<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu side-menu-big-icon">
    <ul class="side-menu-list">
        <li class="{{@current_url==='/'?'opened':''}}">
            <a href="{{@base}}">
                <i class="font-icon font-icon-home"></i>
                <span class="lbl">Overview</span>
            </a>
        </li>
        <check if="{{@SESSION.role==='superadmin'}}">
            <li class="with-sub {{@module_names[0]==='crudop'?'opened':''}}">
                <span>
                    <i class="font-icon font-icon-users"></i>
                    <span class="lbl">CRUD Operator</span>
                </span>
                <ul>
                    <li><a href="{{@base}}/crudop"><span class="lbl">Show, Update and Delete</span></a></li>
                    <li><a href="{{@base}}/crudop/create"><span class="lbl">Create New</span></a></li>
                </ul>
            </li>
        </check>
        <li class="{{@module_names[0]==='task'?'opened':''}}">
            <a href="{{@base}}/task">
                <i class="font-icon font-icon-notebook"></i>
                <span class="lbl">Tasks</span>
            </a>
        </li>
        <li class="{{@module_names[0]==='report'?'opened':''}}">
            <a href="{{@base}}/report">
                <i class="font-icon font-icon-chart"></i>
                <span class="lbl">Reports</span>
            </a>
        </li>
        <li class="{{@module_names[0]==='profile'?'opened':''}}">
            <a href="{{@base}}/profile">
                <i class="font-icon font-icon-user"></i>
                <span class="lbl">Profile</span>
            </a>
        </li>
    </ul>
</nav><!--.side-menu-->

<div class="page-content">
    <div class="container-fluid">
        <check if="{{@headersection}}">
            <include href="{{@headersection}}"></include>
        </check>
        <include href="{{@content}}"></include>
    </div><!--.container-fluid-->
</div><!--.page-content-->
</body>
</html>