<div class="box-typical box-typical-padding">
    <check if="{{@SESSION.editprofilesuccess}}">
        <h4><span class="label label-success">{{@SESSION.editprofilesuccess}}</span></h4>
    </check>

    <form action="doupdate" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Username</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input value="{{@user.username}}" type="text" class="form-control {{@SESSION.editprofileerror['username']?'form-control-error':''}}" name="username" placeholder="Username"></p>
                <check if="{{@SESSION.editprofileerror['username']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.editprofileerror['username']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {{@SESSION.editprofileerror['password']?'form-control-error':''}}" name="password" placeholder="Password">
                <check if="{{@SESSION.editprofileerror['password']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.editprofileerror['password']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input value="{{@user.email}}" type="email" class="form-control {{@SESSION.editprofileerror['email']?'form-control-error':''}}" name="email" placeholder="Email"></p>
                <check if="{{@SESSION.editprofileerror['email']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.editprofileerror['email']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Full Name</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input value="{{@user.fullname}}" type="text" class="form-control {{@SESSION.editprofileerror['fullname']?'form-control-error':''}}" name="fullname" placeholder="Full Name"></p>
                <check if="{{@SESSION.editprofileerror['fullname']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.editprofileerror['fullname']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Address</label>
            <div class="col-sm-10">
                <p class="form-control-static"><textarea rows="4" class="form-control {{@SESSION.editprofileerror['address']?'form-control-error':''}}" placeholder="Address" name="address">{{@user.address}}</textarea></p>
                <check if="{{@editprofileerror['address']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.editprofileerror['address']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Old Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control {{@SESSION.editprofileerror['oldPassword']?'form-control-error':''}}" name="oldPassword" placeholder="Password">
                <check if="{{@SESSION.editprofileerror['oldPassword']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.editprofileerror['oldPassword']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Submit" class="btn">
                <input type="reset" value="Reset" class="btn btn-info">
            </div>
        </div>
    </form>
</div><!--.box-typical-->