<link rel="stylesheet" href="{{@base}}/app/assets/css/lib/lobipanel/lobipanel.min.css">
<link rel="stylesheet" href="{{@base}}/app/assets/css/separate/vendor/lobipanel.min.css">
<link rel="stylesheet" href="{{@base}}/app/assets/css/lib/jqueryui/jquery-ui.min.css">
<link rel="stylesheet" href="{{@base}}/app/assets/css/separate/pages/widgets.min.css">
<link href="{{@base}}/app/assets/css/lib/charts-c3js/c3.min.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{{@base}}/app/assets/js/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{@base}}/app/assets/js/lib/lobipanel/lobipanel.min.js"></script>
<script type="text/javascript" src="{{@base}}/app/assets/js/lib/match-height/jquery.matchHeight.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/d3/d3.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/charts-c3js/c3.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/charts-c3js/c3js-init.js"></script>

<div class="row">
    <div class="col-xl-6 dahsboard-column">
        <section class="box-typical box-typical-dashboard panel panel-default scrollable">
            <header class="box-typical-header panel-heading">
                <h3 class="panel-title">Tasks Status Overall</h3>
            </header>
            <div class="box-typical-body panel-body">
                <div id="chart-status"></div>
            </div><!--.box-typical-body-->
        </section><!--.box-typical-dashboard-->
    </div>
    <div class="col-xl-6 dahsboard-column">
        <section class="box-typical box-typical-dashboard panel panel-default scrollable">
            <header class="box-typical-header panel-heading">
                <h3 class="panel-title">Top Issued Companies</h3>
            </header>
            <div class="box-typical-body panel-body">
                <div id="chart-company"></div>
            </div><!--.box-typical-body-->
        </section><!--.box-typical-dashboard-->
    </div>
</div>

<script>
    $(function () {
        "use strict";

        var param = "";
        var url = 'http://{{@server_name}}{{@base}}/api/task/list/'+param;
        var company_name = [];
        var urls = [];
        var columns = [];

        $('.panel').lobiPanel({
            sortable: true
        });
        $('.panel').on('dragged.lobiPanel', function(ev, lobiPanel){
            $('.dahsboard-column').matchHeight();
        });

        // Generates C3 Chart for Tasks Status Overall //
        var draft = JSON.parse("{{count(@task['draft'])}}");
        var pending = JSON.parse("{{count(@task['pending'])}}");
        var completed = JSON.parse("{{count(@task['completed'])}}");
        var process = JSON.parse("{{count(@task['process'])}}");

        c3.generate({
            bindto: '#chart-status',
            data: {
                json: {
                    Draft: [draft],
                    Pending: [pending],
                    Completed: [completed],
                    Process: [process],
                },
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },
            pie: {
                label:{
                    format: function (value, ratio) {
                        return value + ' (' + (ratio*100).toFixed(2) + '%)'; //returning here the value and not the ratio
                    }
                }
            }
        });

        $.ajax({
            url:url,
            dataType:'json',
            method:'get',
            success:function(result){
                var index=0;
                for(var i=0;i<result.length;i++){
                    if(company_name[index-1]!=result[i].company_name){
                        company_name[index] = result[i].company_name;
                        index++;
                    }
                }
            },
            async:false
        });

        for(var i=0; i<company_name.length;i++){
            urls[i] = 'http://{{@server_name}}{{@base}}/api/task/list/'+company_name[i];
            $.ajax({
                url:urls[i],
                dataType:'json',
                method:'get',
                success:function(result){
                    columns[i] = [company_name[i], result.length];
                },
                async:false
            });
        }

        // Generates C3 Chart for Top Issued Companies //
        c3.generate({
            bindto: '#chart-company',
            data: {
                columns: columns,
                type : 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },
            pie: {
                label: {
                    format: function (value, ratio) {
                        return value + ' (' + (ratio*100).toFixed(2) + '%)'; //returning here the value and not the ratio
                    },
                },
            }
        });
    });
</script>