<div class="box-typical box-typical-padding">
    <check if="{{@SESSION.edittasksuccess}}">
        <h4><span class="label label-success">{{@SESSION.edittasksuccess}}</span></h4>
    </check>

    <form action="{{@base}}/task/doedit" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Task Name</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input value="{{@task.name}}" type="text" class="form-control {{@SESSION.edittaskerror['name']?'form-control-error':''}}" name="name" placeholder="name"></p>
                <check if="{{@SESSION.edittaskerror['name']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.edittaskerror['name']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Company Name</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input value="{{@task.company_name}}" type="text" class="form-control {{@SESSION.addtaskerror['company_name']?'form-control-error':''}}" name="company_name" placeholder="Company Name"></p>
                <check if="{{@SESSION.addtaskerror['company_name']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.addtaskerror['company_name']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Status</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    <select class="form-control {{@SESSION.edittaskerror['status']?'form-control-error':''}}" name="status">
                        <option value="{{@task.status}}">{{@task.status}}</option>
                        <repeat group="{{@status}}" value="{{@value}}">
                            <check if="{{@value}}!=={{@task.status}}">
                                <option value="{{@value}}">{{@value}}</option>
                            </check>
                        </repeat>
                    </select>
                </p>
                <check if="{{@SESSION.edittaskerror['status']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.edittaskerror['status']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Upload CSV</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    <input type="file" accept=".csv" name="file_name" class="form-control {{@SESSION.edittaskerror['file_name']?'form-control-error':''}}">
                </p>
                <check if="{{@SESSION.edittaskerror['file_name']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.edittaskerror['file_name']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Submit" class="btn">
                <input type="reset" value="Reset" class="btn btn-info">
            </div>
        </div>
    </form>
</div><!--.box-typical-->