<script src="{{@base}}/app/assets/js/lib/bootstrap-table/bootstrap-table.js"></script>
<script src="{{@base}}/app/assets/js/lib/bootstrap-table/bootstrap-table-export.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/bootstrap-table/tableExport.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/bootstrap-table/bootstrap-table-init.js"></script>

<section class="box-typical">
    <div id="toolbar">
        <!--<button id="remove" class="btn btn-danger remove" disabled>-->
        <!--<i class="font-icon font-icon-close-2"></i> Delete-->
        <!--</button>-->
        <a href="task/add"><button class="btn btn-sm">Add new task</button></a>
    </div>
    <div class="table-responsive">
        <table id="table"
               class="table table-striped"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-id-field="id"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-show-footer="false">
        </table>
    </div>

</section><!--.box-typical-->

<script type="text/javascript">

    function actionFormatter(value, row, index) {
        return [
            '<a class="view ml10" href="javascript:void(0)" title="View">',
            '<i class="glyphicon glyphicon-eye-open"></i>',
            '</a> ',
            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>',
            '<a class="remove ml10" href="javascript:void(0)" data-action="task/doremove" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.actionEvents = {
        'click .view': function (e, value, row, index) {
            var id = $(this).closest('tr').children('td:eq(0)').text();
            location.href = "task/view/"+id;
        },
        'click .edit': function (e, value, row, index) {
            var id = $(this).closest('tr').children('td:eq(0)').text();
            location.href = "task/edit/"+id;
        },
        'click .remove': function (e, value, row, index) {
            var id = $(this).closest('tr').children('td:eq(0)').text();
            var name =
            $(this).attr('data-id', id);
            if(confirm('Are you sure you want to remove this task ?')){
                $.ajax({
                    url:$(this).data('action'),
                    type:'POST',
                    data:{'id':$(this).data('id')},
                    success: function(data){
                        alert('Removed. Please dont hide ID before removing an item, if nothing happened, refresh the page first.');
                        $('#table').bootstrapTable('refresh', {silent:true});
                    },
                    error: function(){
                        alert('Something went wrong ...');
                    }
                });
            }
        }
    };

    $('#table').bootstrapTable({
        url: 'http://{{@server_name}}{{@base}}/api/task/list',
        contentType: 'application/json',
        dataType: 'json',
        method: 'get',
        columns:[
            {
                field: 'id',
                title: 'ID',
                sortable:true
            },
            {
                field: 'company_name',
                title: 'Company Name',
                sortable:true
            },
            {
                field: 'name',
                title: 'Task Name',
                sortable:true
            },
            {
                field: 'status',
                title: 'Status',
                sortable:true
            },
            {
                field: 'date_created',
                title: 'Created Date',
                sortable:true
            },
            {
                field: 'date_updated',
                title: 'Updated Date',
                sortable:true
            },
            {
                field: 'action',
                title: 'Action',
                formatter: actionFormatter(),
                events: actionEvents
            }
        ]
    });
</script>