<script src="{{@base}}/app/assets/js/lib/bootstrap-table/bootstrap-table.js"></script>
<script src="{{@base}}/app/assets/js/lib/bootstrap-table/bootstrap-table-export.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/bootstrap-table/tableExport.min.js"></script>
<script src="{{@base}}/app/assets/js/lib/bootstrap-table/bootstrap-table-init.js"></script>

<section class="box-typical">
    <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled><i class="glyphicon glyphicon-trash"></i></button>
    </div>
    <div class="table-responsive">
        <table id="table"
               class="table table-striped"
               data-toolbar="#toolbar"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-id-field="Employee No"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-show-footer="false"
               >
        </table>
    </div>

</section><!--.box-typical-->

<script>
    var $table = $('#table'),
        $remove = $('#remove');
    var url = "http://{{@server_name}}{{@base}}/api/task/{{@task.id}}";
    var columns;
    var keys;
    var size;

    $.ajax({
        dataType:"json",
        type:"get",
        url: url,
        success: function(result){
            keys = Object.keys(result[0]);
            size = keys.length;
            columns = new Array(size);
            for(var i=0; i<keys.length; i++){
                columns[0] = {
                    checkbox:true
                };
                columns[i+1] = {
                    field:keys[i],
                    title:keys[i],
                    sortable:true
                };
            }
        },
        error: function(jqXHR, msg, msgthrow){
            alert("Error: " + msgthrow);
        },
        async:false // IMPORTANT!! This makes everything inside ajax is globalable, bcs var columns is needed to be called outside the ajax!!!
    });

    // Double click the cell to edit //
    function onDblClickCell(field, value, row, $element) {
        if(!$element.hasClass('bs-checkbox') && !$('.thVal').length){
            $element.html("<input class='thVal' type='text' value='" + value + "'>");
            $('.thVal').focus();
            $element.keyup(function (event) {
                if (event.keyCode === 13) {
                    $element.html($('.thVal').val().trim());
                }
            });
        }
    }

    // If remove is clicked //
    $remove.click(function (e) {
        e.stopPropagation();
        var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
            return row['Employee No'];
        });
        $table.bootstrapTable('remove', {
            field: 'Employee No',
            values: ids
        });
    });

    $('#table').bootstrapTable({
        url: url,
        contentType: 'application/json',
        dataType: 'json',
        method: 'get',
        columns: columns,
        onDblClickCell: onDblClickCell,
        exportOptions: { ignoreColumn: [0] }
    });
</script>