<section class="box-typical box-typical-padding">
    <h5 class="m-t-lg with-border">Input New Task Data</h5>
    <check if="{{@SESSION.addtasksuccess}}">
        <h4><span class="label label-success">{{@SESSION.addtasksuccess}}</span></h4>
    </check>

    <form action="doadd" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Task Name</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input type="text" class="form-control {{@SESSION.addtaskerror['name']?'form-control-error':''}}" name="name" placeholder="Task Name"></p>
                <check if="{{@SESSION.addtaskerror['name']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.addtaskerror['name']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Company Name</label>
            <div class="col-sm-10">
                <p class="form-control-static"><input type="text" class="form-control {{@SESSION.addtaskerror['company_name']?'form-control-error':''}}" name="company_name" placeholder="Company Name"></p>
                <check if="{{@SESSION.addtaskerror['company_name']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.addtaskerror['company_name']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Status</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    <select name="status" class="form-control select2 {{@SESSION.addtaskerror['status']?'form-control-error':''}}">
                        <option value="process">Process</option>
                        <option value="pending">Pending</option>
                        <option value="completed">Completed</option>
                        <option value="draft">Draft</option>
                    </select>
                </p>
                <check if="{{@SESSION.addtaskerror['status']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.addtaskerror['status']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Upload CSV</label>
            <div class="col-sm-10">
                <p class="form-control-static">
                    <input type="file" accept=".csv" name="file_name" class="form-control {{@SESSION.addtaskerror['file_name']?'form-control-error':''}}">
                </p>
                <check if="{{@SESSION.addtaskerror['file_name']}}">
                    <small class="text-muted"><repeat group="{{@SESSION.addtaskerror['file_name']}}" value="{{@text}}">{{@text}} ;</repeat></small>
                </check>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Submit" class="btn">
                <input type="reset" value="Reset" class="btn btn-info">
            </div>
        </div>
    </form>
</section><!--.box-typical-->